/* .gp-table { border-top: 1px solid #dddddd; } .gp-table thead tr td, .gp-table tbody tr td { border: 1px solid #dddddd; } */
.gp-table>tbody>tr>td {
	vertical-align: middle;
}

.gp-table .gp-col-image { /*width:1px;*/
	width:50px;
}

.gp-table .gp-col-name {
		min-width:100px;
}

.gp-table .gp-col-price {
	width:150px;
	text-align: right;
	position:relative;
}
.gp-table .gp-col-price .no-price{
font-size:12px;
line-height:1;
}
.gp-table .gp-col-price .discounts{
position: absolute;
right: 5px;
top:0;
}
.table-bordered>thead>tr>td.agc{
	border-bottom: none;
	padding-bottom: 0px;
}
.table-bordered>thead>tr>td.sortt{
	border-top: none;
	font-size: 13px;
	padding-top: 0px;
	text-align: center;
	min-width: 70px;
}
.ag{
	text-align: center;
}
.gp-table .gp-col-option {
	width: 250px;
}

.gp-table .gp-col-qty {
	width: 80px;
	text-align: center;
}

.gp-table .gp-col-qty input:disabled {
	border: 1px solid #ccc;
	color: #ccc;
	cursor: not-allowed;
}

.gp-table .gp-col-btn {
	width:100px;
}

.gp-child-image {
	
}

.gp-child-image img {
	
}
.gp-col-checkbox{
	width: 30px;
}
.gp-child-name {
	font-weight: 400;
	font-size: 14px;
}
.gp-child-name span{
	color: #611;
}
.gp-child-field, .gp-child-attribute {
	padding: 0 0 0 10px;
	font-size: 12px;
}

.gp-child-attribute>div {
	padding: 0 0 0 20px;
}

.gp-child-price {
	font-size: 16px;
	font-weight: bold;
}

.gp-child-price-old {
	font-size: 12px;
	font-weight: normal;
	color: #F00;
	text-decoration: line-through;
}

.gp-child-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.gp-child-discount {
	
}

.fs-dropdown {
	width: 100%;
}

.fs-dropdown button {
	padding: 28px 9px;
}

.fs-dropdown label {
	cursor: pointer;
	width: 100%;
	padding-left: 7px;
}

/* Append child description */
ul.gp-add-child-description {
	list-style: none;
}

ul.gp-add-child-description li:first-child {
	font-weight: bold;
	font-size: 16px;
}

ul.gp-add-child-description li:last-child {
	padding: 0 0 0 10px;
}
.gp-table .checkbox, .gp-table .radio{
margin-top: 0px;
margin-bottom: 0px;
}
.gp-table .checkbox label,.gp-table .radio label{
min-height:18px;
}
